/* MAIN CONTENT STYLES */
.main {
    background: $secondary__background__col;
    &__content {
        @include container(1197px);
        @include display-flex();
        padding: 170px 0 50px;
        &__box {
            background: $main__background__col;
            @include display-flex($flexDirection: column, $justifyContent: flex-start);
            flex-grow: 1;
            flex-basis: calc(100% / 3 - 100px);
            height: 440px;
            margin-right: 100px;
            margin-bottom: 30px;
            padding: 30px;
            cursor: pointer;
            &:nth-child(3n+0) {
                margin-right: 0;
            }
            & img {
                height: 250px;
                margin-bottom: 15px;
            }
            &__title {
                margin-bottom: 10px;
                font-size: 18px;
                text-align: center;
            }
            &__artist {
                opacity: 0.5;
                font-size: 16px;
                margin-bottom: 5px;
            }
            &__year {
                font-size: 14px;
            }
        }
    }
}